<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171702922223-lg5c2majrluuba95q8sl2m4fneuhj91b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171702922223-lg5c2majrluuba95q8sl2m4fneuhj91b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>171702922223-g060q1bjnl1sqb68hlbvaqjff0mnv75p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD01uI5x649oIXC4ZP8TkJCrXZ_7i3SpyM</string>
	<key>GCM_SENDER_ID</key>
	<string>171702922223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Group14-AppChat</string>
	<key>PROJECT_ID</key>
	<string>info6134-appchat</string>
	<key>STORAGE_BUCKET</key>
	<string>info6134-appchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171702922223:ios:751839afa091571e90641a</string>
</dict>
</plist>